[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
python-dotenv = "*"
requests = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"
nbconvert = "*"

[requires]
python_version = "3.10"
